{% extends 'placements/main.html' %}
{% load static %}
{% block content %}
{%include 'placements/homeNavbar.html' %}


<div class="container mt-3">
  <div class="shadow-lg p-4 mb-4">
    <div class="d-flex justify-content-around mb-3">
      <div class="p-1">
        <img src="{% static 'alumini/1st.jpg' %}" class="float-left" />
      </div>
      <div class="p-2"></div>
      <div class="p-2">
        <h4>Ananya Madhusudhan</h4>
        <h5>Computer Science and Engineering - 2020</h5>
        <p>
          One Direct - Full Stack Developer "When you are passionate about what
          you do, you would have reached halfway towards the goal. I always
          tried to enhance my skills by participating in technical events
          conducted in and out of the college. I concentrated on academics and
          also practiced coding on competitive coding platforms. Placement
          Center gave me the opportunity to enhance my skills and I was placed
          in OneDirect as Full Stack Developer with a package of Rs: 20.LPA. I
          express my profound gratitude for my teachers of BIT for helping me in
          achieving my goals."
        </p>
      </div>
    </div>

    <div class="d-flex justify-content-around mb-3">
      <div class="p-1">
        <h4>Sathvika.R.V</h4>
        <h5>
          Information Science and Engineering - 2019 CISCO - Network Engineer
        </h5>
        <p>
          One Direct - Full Stack Developer "I am Sathvika RV, alumni of BIT. My
          journey of four years in the college was one of the most memorable
          ones. Our teaching and non-teaching staff was very supportive
          throughout. Being placed through campus, I have the privilege to
          mention that BIT has one of the finest placements records. Our
          Placement Center gets the best possible companies which helps students
          have the best career ahead. I am grateful and proud to be a BITian!!"
        </p>
      </div>
      <div class="p-2"></div>
      <div class="p-2">
        <img src="{% static 'alumini/2nd.jpg' %}" class="float-right" />
      </div>
    </div>

    <div class="d-flex justify-content-around mb-3">
      <div class="p-1">
        <img src="{% static 'alumini/3rd.jpg' %}" class="float-left" />
      </div>
      <div class="p-2"></div>
      <div class="p-2">
        <h4>Computer Science and Engineering - 2019 Target Corporation</h4>
        <h5>Computer Science and Engineering - 2020</h5>
        <p>
          One Direct - Full Stack Developer "When you are passionate about what
          you do, you would have reached halfway towards the goal. I always
          tried to enhance my skills by participating in technical events
          conducted in and out of the college. I concentrated on academics and
          also practiced coding on competitive coding platforms. Placement
          Center gave me the opportunity to enhance my skills and I was placed
          in OneDirect as Full Stack Developer with a package of Rs: 20.LPA. I
          express my profound gratitude for my teachers of BIT for helping me in
          achieving my goals."
        </p>
      </div>
    </div>

    <div class="d-flex justify-content-around mb-3">
      <div class="p-1">
        <h4>Ajay Krishna</h4>
        <h5>
          Mechanical Engineering - 2019 Boeing - Mechanical Design and Analysis
          Engineer
        </h5>
        <p>
          "The college encourages the development of necessary soft-skills along
          with Technical Knowledge. The Training and placement cell was
          instrumental in inviting top companies to visit the campus which
          helped me to start my career in one of the prestigious organization
          Boeing International Corporation India Pvt. Ltd."
        </p>
      </div>
      <div class="p-2"></div>
      <div class="p-2">
        <img src="{% static 'alumini/4th.jpg' %}" class="float-right" />
      </div>
    </div>
  </div>
</div>
{% endblock %}
