{% block content %}

<div class="m-4">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">--</a>
      <button
        type="button"
        class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="{% url 'home' %}">Overview</a>
          <a class="nav-item nav-link" href="{% url 'processOfPlacement' %}"
            >Process</a
          >
          <a class="nav-item nav-link" href="{% url 'aluminiFeedback' %}"
            >Alumini Feedback</a
          >
          <a class="nav-item nav-link" href="{% url 'placementTeam' %}">Placement Team</a>
          <a class="nav-item nav-link" href="{% url 'companiesVisitBit' %}">Companies visit BIT</a>
          <a class="nav-item nav-link" href="#"
            >Students placed in Top Companies</a
          >
          <a class="nav-item nav-link" href="#">Achievements</a>
          <a class="nav-item nav-link" href="{% url 'placementstats' %}">Placement Statistics</a>
        </div>
      </div>
    </div>
  </nav>
</div>

{% endblock %}
