{% load static %}

<style>
  .hello-msg {
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
  .main-img {
    width: 40px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img class="main-img" src="{% static 'images/logo.jpg' %}" />
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
      {% if not request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">login</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'companyDetails' %}"
          >Company Details</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'resources' %}">Resources</a>
      </li>
      {% if request.user.is_authenticated and request.user.is_staff %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'studentDetails' %}"
          >Students Details</a
        >
      </li>
      {% endif %}
    </ul>
  </div>

  {% if request.user.is_authenticated and not request.user.is_staff %}
  <span class="hello-msg"
    ><a href="{% url 'studentDashBoard' %}">{{request.user}}'s profile</a></span
  >

  {% endif %} {% if request.user.is_authenticated %}
  <span><a class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
  {% endif %}
</nav>
