{% extends 'placements/main.html' %}
{% load static %}
{% block content %}
{%include 'placements/homeNavbar.html' %}
<div class="container mt-3">
  <div class="shadow-lg p-4 mb-4 ">

      <div class="container-fluid">

          <img src="{% static 'stats/placementstats/total.jpg' %}" class="mx-auto d-block" alt="Cinque Terre" width="600" height="300"> 

          <div class="card">
              <div class="card-body text-center">
                  <div class="card border-dark mb-3" >

          <div class="row">
              <div class="col">
                
                  <p><a href="{% static 'stats/placementstats/batch2022.pdf'%}" target="_blank">Companies visited BIT to recruit students of 2022 batch</a>.</p>
              </div>
          </div>

          <div class="row">
              <div class="col">
                  
                  <p><a href="{% static 'stats/placementstats/batch2021.pdf'%}" target="_blank">Companies visited BIT to recruit students of 2021 batch</a>.</p>
              </div>
          </div>

          <div class="row">
              <div class="col">
                  
                  <p><a href="{% static 'stats/placementstats/batch2020.pdf'%}" target="_blank">Companies visited BIT to recruit students of 2020 batch</a>.</p>
              </div>
          </div>

          <div class="row">
              <div class="col">
                  
                  <p><a href="{% static 'stats/placementstats/batch2019.pdf'%}" target="_blank">Companies visited BIT to recruit students of 2019 batch</a>.</p>
              </div>
          </div>

          <div class="row">
              <div class="col">
                  
                  <p><a href="{% static 'stats/placementstats/batch2018.pdf'%}" target="_blank">Companies visited BIT to recruit students of 2018 batch</a>.</p>
              </div>
          </div>

          <div class="row">
              <div class="col">
                  
                  <p><a href="{% static 'stats/placementstats/batch2017.pdf'%}" target="_blank">Companies visited BIT to recruit students of 2017 batch</a>.</p>
              </div>
          </div>

          <div class="row">
              <div class="col">
                  
                  <p><a href="{% static 'stats/placementstats/batch2016.pdf'%}" target="_blank">Companies visited BIT to recruit students of 2016 batch</a>.</p>
              </div>
          </div>
          </div></div></div>
          
          <div class="card">
              <div class="card-body text-center">
                  <div class="card border-dark mb-3" >
          <div class="row">
              <div class="col">
              <h4>Branch Wise Placement</h4>
          </div>
          </div>
          
          <div class="row">
              <div class="col">
                  
                  <p><a href="{% static 'stats/placementstats/branch2020.pdf'%}" target="_blank">Placement Details-2020</a>.</p>
              </div>
          </div>

          <div class="row">
              <div class="col">
                  
                  <p><a href="{% static 'stats/placementstats/branch2019.pdf'%}" target="_blank">Placement Details-2019</a>.</p>
              </div>
          </div>

          <div class="row">
              <div class="col">
                  
                  <p><a href="{% static 'stats/placementstats/branch2018.pdf'%}" target="_blank">Placement Details-2018</a>.</p>
              </div>
          </div>

          <div class="row">
              <div class="col">
                  
                  <p><a href="{% static 'stats/placementstats/branch2017.pdf'%}" target="_blank">Placement Details-2017</a>.</p>
              </div>
          </div>

          <div class="row">
              <div class="col">
                  
                  <p><a href="{% static 'stats/placementstats/branch2016.pdf'%}" target="_blank">Placement Details-2016</a>.</p>
              </div>
          </div>
              </div></div></div>

      </div>
  </div>
</div>
{% endblock %}