{% extends 'placements/main.html' %}

{% block content %}
{% include 'placements/homeNavbar.html' %}

<div class="container mt-3">
  <div class="shadow-lg p-4 mb-4 ">

      <div class="container-fluid">
        <p>
  Every year the enrollment process for placements begins when students come to pre final year.
  Each department will have one faculty and two student coordinators to facilitate training and placement activities.
  The coordinators organize mock test and group discussion in their respective classes. External trainers are invited to train the students on solving the aptitude, prepare for group discussion, interview facing skills and technical skills. Experts from the varied industries are invited to give guest lecture on the latest technologies.
  Every year more than three hundred reputed companies are invited to visit our institution to recruit our students for internship and full time jobs.
  Several companies send their assessment form to assess our institute before they visit for recruitment. We provide all the required information to the companies. Based on the information provided, companies visit our institution for campus recruitment.
  More than one hundred and twenty companies from different sectors visit BIT to recruit students for internship and full-time job. More than five hundred students get their dream jobs through placement center.
         
        </p>
      </div>
  </div>
</div>

{% endblock content %}