{% extends 'placements/main.html' %}
{% load static %}
{% block content %}
{%include 'placements/homeNavbar.html' %}
<div class="container mt-3">
  <div class="shadow-lg p-4 mb-4">
     <center><h3><u>Placement Team</u></h3></center>
     
      <div class="row">
          <div class="col">
              <img class="center-block image-center" width="150" src="{% static 'placementteam/prince.jpg' %}" alter="image"/> <h5><b>Dr. Aswath M. U</b></h5>
                 <h6>Principal
                  Advisor –Training & Placement</h6>
          </div>
          <div class="col">
              <img class="center-block image-center" width="150" src="{% static 'placementteam/placement_officer.jpg' %}" alter="image/><h5><b>Dr. Reddappa H.N.</b></h5>
                 <h6> Placement Officer</h6>
           </div>
      </div>
      <div class="row">
          <div class="col">
           <center><h3><u>Faculty Placement Coordinators</u></h3></center>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <img class="center-block image-center" width="150" src="{% static 'placementteam/gang.jpg' %}"/> <h5><b>S. Gangadhar</b> </h5><h6>Civil Engineering</h6>
                  
          </div>
          <div class="col">
              <img class="center-block image-center" width="150" src="{% static 'placementteam/bv.jpg' %}"/> <h5><b>Dr.B.V Lingesh</b></h5><h6>Dr.B.V Lingesh Mechanical Engineerng</h6>
          </div>
          <div class="col">
              <img class="center-block image-center" width="150" src="{% static 'placementteam/an.jpg' %}"/> <h5><b>Prof. A. N. Smitha</b></h5>
                 <h6> Electrical & Electronics Engineering</h6>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <img class="center-block image-center" width="150" src="{% static 'placementteam/rk.jpg' %}"/> <h5><b>Prof. R. Krishna</b></h5><h6>
                  Electronics & Communication Engineering</h6>
          </div>
          <div class="col">
              <img class="center-block image-center" width="150" src="{% static 'placementteam/pra.jpg' %}"/> <h5><b>Prof. Prathima. M. G</b></h5>
                 <h6> Computer Science & Engineering</h6>
          </div>
          <div class="col">
              <img class="center-block image-center" width="150" src="{% static 'placementteam/lk.jpg' %}"/> <h5><b>Prof. L. K. Sudha</b></h5>
                 <h6> Electronics & Instrumentation Engineering</h6>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <img class="center-block image-center" width="150" src="{% static 'placementteam/dany.jpg' %}"/> <h5><b>Dr. Davy George</b></h5>
                 <h6> Ind Engineering & Management  Engineering</h6>
          </div>
          <div class="col">
              <img class="center-block image-center" width="150" src="{% static 'placementteam/sudha.jpg' %}"/> <h5><b>Prof. B. Sudha</b></h5>
                  <h6>Electronics & Telecommunication Engineering</h6>
          </div>
          <div class="col">
              <img class="center-block image-center" width="150" src="{% static 'placementteam/Padmanabha.jpg' %}"/> <h5><b>Prof. J. Padmanabha</b></h5>
                 <h6> Information Science & Engineering</h6>
          </div>
      </div>
          <div class="row">
              <div class="col">
                  <img class="center-block image-center" width="150" src="{% static 'placementteam/Seema.jpg' %}"/> <h5><b>Prof. Seema Nagaraj</b></h5>
                     <h6> Master of Computer Applications(MCA)</h6>
              </div>
              <div class="col">
                  <img class="center-block image-center" width="150" src="{% static 'placementteam/Mahesh.jpg' %}"/> <h5><b>Dr. Mahesh. K</b></h5>
                     <h6> Master of Business Administration(MBA)</h6>
              </div>
          </div>
              <div class="row">
                  <div class="col">
                   <center><h3><u>Support Staff</u></h3></center>
                  </div>
              </div>
          <div class="row">
                      <div class="col">
                          <img class="center-block image-center" width="150" src="{% static 'placementteam/dharma (1).jpg' %}"/> <h5><b>H. M. Dharmapale Gowda</b></h5>
                              <h6>Mechanic</h6>
                      </div>
                      <div class="col">
                          <img class="center-block image-center" width="150" src="{% static 'placementteam/madhu (1).jpg' %}"/> <h5><b>Madhu. C. A</b></h5>
                             <h6> Computer Operator</h6>
                      </div>
                      <div class="col">
                          <img class="center-block image-center" width="150" src="{% static 'placementteam/madeva-1 (1).jpg' %}"/> <h5><b>C. P. Mahadev</b></h5>
                        <h6>      Helper
                              
                      </h6>
                      </div>
                  </div>
              </div>

              </div>
      </div>
      </div>

</div>
</div>
{% endblock %}